@using MvcCv.Models.Entity
@model List<TblEgitimlerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Eğitim Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Baslik</th>
        <th>Alt baslik</th>
        <th>Alt baslik2</th>
        <th>Gno</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.ID</td>
    <td>@x.Baslik</td>
    <td>@x.AltBaslik1</td>
    <td>@x.AltBaslik2</td>
    <td>@x.GNO</td>
    <td>@x.Tarih</td>
    <td>
        <a class="btn btn-info-sm" href="/Egitim/EgitimDuzenle/@x.ID">
            <i class="fas fa-pencil-alt"></i>
            Düzenle
        </a>
    </td>
    <td>
        <a class="btn btn-danger-sm" href="/Egitim/EgitimSil/@x.ID">
            <i class="fas fa-trash"></i>
            Sil
        </a>
    </td>
</tr>
    }
</table>
<a href="/Egitim/EgitimEkle/" class="btn btn-info">Yeni egitim ekle</a>
